<section class="container-fluid">
  <div class="card">
    <div class="card-body">
      <h3>{{"Search_term"|translate}} :
        </h3>
        <p>*{{src}}*</p>
      <h5>{{"Questions_found"|translate}}</h5>

      <div *ngIf="hasTags">
        <div *ngIf="questionList " class="scrollable-content">
          <ngb-accordion #acc="ngbAccordion" [closeOthers]="true">
            <ngb-panel *ngFor="let item of questionList; let i=$implicit" id="{{i.soal.id}}">
              <ng-template ngbPanelHeader>
                <div class="row no-gutters">
                  <div class="col-12">
                    <button ngbPanelToggle class="btn pr-2 d-flex flex-column justify-content-center align-items-start">
                      <div class="d-flex mb-2">
                        <small class="text-lite-dark">
                          <span class="badge badge-primary">{{item.userName}}</span> -
                          <span>{{item.soal.date}}</span>
                        </small>
                      </div>

                      <div class="">
                        {{item.soal.matn}}
                      </div>
                    </button>
                  </div>
                </div>
              </ng-template>
              <ng-template ngbPanelContent>
                <div >
                  <a [routerLink]="['/home/search/',tag.name]" routerLinkActive="router-link-active" *ngFor="let tag of item.tags" class="text-lite-dark">
                    <span class="badge badge-info ml-2">{{tag.name}}</span>
                  </a>
                </div>
                <div>
                  <div class="card">
                    <div class="card-body">
                      <div *ngFor="let jvb of item.javab;index as ji" >
                        <div class="row no-gutters">
                          <div class="col-12">
                            <div  class=" pr-2 d-flex flex-column justify-content-center mb-1 align-items-start">
                              <div class="d-flex mb-1">
                                <small class="text-lite-dark">
                                  <span class="badge ">{{ji+1}}</span> -

                                  <span class="badge badge-secondary">{{jvb.username}}</span> -
                                  <span>{{jvb.matn}}</span>
                                </small>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-10">
                          <div class="form-group mb-0">
                            <input type="text" [(ngModel)]="answer" class="form-control">
                          </div>
                        </div>
                        <div class="col-2">
                          <button class="btn btn-primary" [disabled]="!answer" (click)="send(item)">
                            <span *ngIf="answerLoading === false">پاسخ</span>
                            <div *ngIf="answerLoading === true" class="spinner-border" role="status">
                              <span class="sr-only">Loading...</span>
                            </div>
                          </button>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

              </ng-template>
            </ngb-panel>
          </ngb-accordion>
          <div  class="d-flex justify-content-center align-items-center salam">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
