<section class="container-fluid">
  <div class="card">
    <div class="card-body">
      <h4>{{'پرسش سوال'|translate}}</h4>
      <form [formGroup]="registerQuestion">
        <div class="row">

          <div class="col-12">
            <div class="form-group">
              <textarea formControlName="questionBody" class="form-control" placeholder="{{'Text-of-Question'|translate}}" rows="6"></textarea>
              <span *ngIf="registerQuestion.get('questionBody').hasError('required') &&
              registerQuestion.get('questionBody').touched" class="text-danger">
              <small>{{'Questions-text-required'|translate}}</small>
              </span>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <tag-input  formControlName="tags" (onAdd)="checkIfAvalable($event)" theme='bootstrap' [onlyFromAutocomplete]="false"
              [placeholder]='tagNext' [secondaryPlaceholder]='tagInsert'
              [separatorKeyCodes]="[32]" [allowDupes]="false">
                <tag-input-dropdown [keepOpen]="false" [autocompleteObservable]='requestAutocompleteItems' [showDropdownIfEmpty]="true">
                  <ng-template let-item="item" let-index="index">
                    {{ item.display }}
                 <small class="mr-3">
                  {{item.usedUser}}
                 </small>

                  </ng-template>
                </tag-input-dropdown>
              </tag-input>
              <span *ngIf="registerQuestion.get('tags').hasError('required') &&
              registerQuestion.get('tags').touched" class="text-danger">
                <small>{{'Tag-is-required'|translate}}</small>
              </span>
            </div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit" (click)="registerQuestionForm()">
          <div *ngIf="disabled" class="spinner-border text-light" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <span *ngIf="!disabled">{{'ثبت سوال'|translate}}</span>
        </button>
      </form>
    </div>
  </div>
</section>
