/* You can add global styles to this file, and also import other style files */
@import './assets/scss/bootstrap-rtl.scss';
@import './assets/fonts/font.css';
@import './assets/fonts/font-awesome/font-awesome.min.css';
@import '~ngx-toastr/toastr-bs4-alert';
@import './assets/app.scss';

@media screen and (max-width: 800px) {
  .hidesearch {
    visibility: hidden;
    display: none;
  }
}
@media screen and (min-width: 800px) {
  .hidesearch_menu {
    visibility: hidden;
    display: none;
  }
}
@media screen and (min-width:500px) {
  .hidelang_menu {
    visibility: hidden;
    display: none;
  }
}
@media screen and (max-width:500px) {
  .hidelang {
    visibility: hidden;
    display: none;
  }
}
.myCard-sm{
  min-width: 150px;
}
.myCard-md{
  min-width: 250px;
}
.myCard-lg{
  min-width: 350px;
}
@media screen and (min-width: 499px) {
  .myCard .myCard-lg .myCard-md .myCard-sm {
    max-width: 150px;
}}
