<div>
  <nav role='navigation'>
    <div id="menuToggle">
      <input id="btnMenuToggle" (click)="menuToggle()" [checked]="menuExpanded" type="checkbox" />
      <span></span>
      <span></span>
      <span class="m-0"></span>
      <ul id="menu" class="list-unstyled">
        <li class="hidelang_menu">
          <app-language></app-language>
        </li>

        <li>
          <a (click)="menuExpanded = false" [routerLink]="['/dashboard']"
            routerLinkActive="router-link-active">{{'Dashboard'|translate}} </a>
        </li>

        <li>
          <a (click)="menuExpanded = false" [routerLink]="['/home/question']" routerLinkActive="router-link-active"
            href="/">{{'Submit a question' |translate}}</a>
        </li>
        <li>
          <a (click)="menuExpanded = false" [routerLink]="['/home/my-questions']" routerLinkActive="router-link-active"
            href="/">{{'my-questions'|translate}}</a>
        </li>
        <li>
          <a (click)="menuExpanded = false" [routerLink]="['/home/my-answers']" routerLinkActive="router-link-active"
            href="/">{{'my-answers'|translate}}</a>
        </li>
        <li>
          <a (click)="menuExpanded = false" [routerLink]="['/home/question-feed']" routerLinkActive="router-link-active"
            href="">{{'Questions Feed'|translate}}</a>
        </li>

        <li class="hidesearch_menu">
          <app-searchform></app-searchform>
        </li>
      </ul>

      <div class="phx-backdrop" (click)="menuExpanded = false"></div>
    </div>
  </nav>
</div>
