<p >مدیریت سوالها</p>

<div class=" card-columns"  >
  <div class="m-1  card text-white bg-success "  *ngFor="let item of soalfiter(false)">
    <div class="card-header"><small class="text-lite-dark">
      <span class="badge badge-primary">{{item.userName}}</span> -
      <span>{{item.date}}</span>
      <button (click)="delete(item.id)" class="btn btn-sm btn-danger  mr-1">حذف</button>
    </small></div>
    <div class="card-body">
      <span class="card-text "dir="ltr"> {{item.matn}}</span>

    </div>
  </div>
</div>
<hr/>
<div class=" card-columns"  >
  <div class="m-1  card text-white bg-warning "  *ngFor="let item of soalfiter(true)">
    <div class="card-header"><small class="text-lite-dark">
      <span class="badge badge-primary">{{item.userName}}</span> -
      <span>{{item.date}}</span>
      <button (click)="undo(item.id)" class="btn btn-sm btn-danger mr-1">حذف</button>
    </small></div>
    <div class="card-body">
      <span class="card-text "dir="ltr"> {{item.matn}}</span>

    </div>
  </div>
</div>
