<div class="container">
    <div class="row">
        <div class="col-12">
            <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs">
                <li [ngbNavItem]="1">
                    <a ngbNavLink>تغییر رمز</a>
                    <ng-template ngbNavContent>
                        <form [formGroup]="changePasswordForm">
                            <div class="form-group">
                                <input type="password" formControlName="currentPassword" placeholder="رمز ورود فعلی"
                                    class="form-control">
                                <small
                                    *ngIf="changePasswordForm.get('currentPassword').hasError('required') && changePasswordForm.get('currentPassword').touched"
                                    class="text-danger">رمز فعلی الزامی است</small>
                            </div>
                            <div class="form-group">
                                <input type="password" formControlName="newPassword" placeholder="رمز ورود جدید"
                                    class="form-control">
                                <small
                                    *ngIf="changePasswordForm.get('newPassword').hasError('required') && changePasswordForm.get('newPassword').touched"
                                    class="text-danger">رمز جدید الزامی است</small>
                                <small *ngIf="changePasswordForm.get('newPassword').hasError('minlength')"
                                    class="text-danger">رمز جدید حداقل باید 6 حرف باشد</small>
                            </div>
                            <div class="form-group">
                                <input type="password" formControlName="repeatPassword"
                                    placeholder="تکرار رمز ورود جدید" class="form-control">
                                <small
                                    *ngIf="changePasswordForm.get('repeatPassword').hasError('required') && changePasswordForm.get('repeatPassword').touched"
                                    class="text-danger">تکرار رمز الزامی است</small>
                                <small *ngIf="changePasswordForm.get('repeatPassword').hasError('mustMatch')"
                                    class="text-danger">رمز عبور تطابق ندارد</small>
                            </div>
                            <button class="btn btn-primary" (click)="changePassword()">تغییر</button>
                        </form>

                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <a ngbNavLink>انتخاب تخصص</a>
                    <ng-template ngbNavContent>
                        <form [formGroup]="selectTagsForm">
                            <div class="form-group bg-white">
                                <tag-input  formControlName="tags" (onAdd)="checkIfAvalable($event)" theme='bootstrap' [onlyFromAutocomplete]="false"
                                [placeholder]="'تگ بعدی'" [secondaryPlaceholder]="'تگ را وارد کنید'"
                                [separatorKeyCodes]="[32]" [allowDupes]="false">
                                  <tag-input-dropdown [keepOpen]="false" [autocompleteObservable]='requestAutocompleteItems' [showDropdownIfEmpty]="true">
                                    <ng-template let-item="item" let-index="index">
                                      {{ item.display }}
                                    </ng-template>
                                  </tag-input-dropdown>
                                </tag-input>
                                <span *ngIf="selectTagsForm.get('tags').hasError('required') &&
                                selectTagsForm.get('tags').touched" class="text-danger">
                                  <small>تگ الزامی است</small>
                                </span>
                              </div>
                        </form>
                        <div class="mt-5 mb-2">
                            <button class="btn btn-success" (click)="saveTags()">ذخیره</button>
                        </div>
                    </ng-template>
                </li>
            </ul>

            <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>

    </div>
</div>