<div class="container h-100">

  <div class="row vh-100">
    <div class="col-md-5">
      <div class="d-flex flex-column justify-content-center align-items-center h-100">
        <form [formGroup]="resetForm" class="w-100">
          <div class="form-group">
            <input type="text" formControlName="userName" class="form-control text-right" placeholder="{{'Username'|translate}}">
            <span *ngIf="resetForm.get('userName').hasError('required') && resetForm.get('userName').touched" class="text-danger">
              <small>{{'Username required'|translate}}</small>
            </span>
          </div>

          <div class="form-group">
            <input type="email" formControlName="mail" class="form-control text-right" placeholder="{{'mail'|translate}}">
            <span *ngIf="resetForm.get('mail').hasError('required') && resetForm.get('userName').touched" class="text-danger">
              <small>{{'Email required'|translate}}</small>
            </span>
          </div>
          <button [disabled]="resetButtonDisabled" class="btn btn-primary text-light w-100" type="submit" (click)="onReset()">
            <div *ngIf="resetButtonDisabled" class="spinner-border text-light" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <span *ngIf="!resetButtonDisabled">{{'resetPass'|translate}}</span>

          </button>

        </form>

        <a class="my-1" [routerLink]="['/sign-up']" routerLinkActive="router-link-active">{{'Register'|translate}}</a>
        <a class="my-1" [routerLink]="['/login']" routerLinkActive="router-link-active">{{'login'|translate}}</a>

      </div>


    </div>
    <div class="col-md-7">
      <div class="d-flex flex-column justify-content-center align-items-center h-100">
        <img src="assets/images/question.png" width="150px" class="user-avatar" />
        <h4 class="my-3">
          {{'Question And Answer'|translate}}
        </h4>
      </div>

    </div>
  </div>
</div>
